.checkout11{
    background: rgb(167, 83, 245);
    color: white;
    border-radius: 0%;
    /* width: auto; */
    /* margin-top: -11px; */
    font-weight: 500;
    
    } 
.customwidthh{
    width: 375px;
}