.base{
    position: relative;
    margin: auto;
}
.subDiv{
    position: absolute;
    border-top: 1px solid lightgray;
    z-index: 1;
    top: 40px;
    left: -120px;
    width: 200%;
}

.searchBar{
    width: 35vw;
}