.base{
    position: relative;
    margin: auto;
}
.subDiv{
    position: absolute;
    border: 1px solid lightgray;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
    top: 35px;
    left: -135px;
    width: 200%;
}

.searchBar{
    width: 35vw;
}

.items{
    background-color: green;
}