*{
  font-family: 'Roboto', sans-serif !important;
}

.rtl {
  direction: rtl;
  text-align: right;
}

.test {
  /* display: none !important; */
  /* border-right: 1px solid black !important; */
}
.test2{
  /* width: 80% !important; */
  border-radius: 0 !important;
}
.test3{
  /* display: none !important; */
  /* border-right: 1px solid black !important; */
}